.text-center {
  font-family: 'Playfair Display', serif;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*

Ignore this sample CSS

div.carouselExampleCaptions {
  width: 60%;
  text-align: center;
  display: flex;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

div.flex-item {
  display: flex;
  color: white;
}

 */

p#mycopy {
  margin-top: 20px;
  text-align: center;
  color: gold;
}

body {
  background: rgb(51, 0, 111);
  margin: auto;
  padding: 10px;
  border: white;
}